<div *ngIf="!IsLoading; else elseBlock">

  <div class="search">
    <input type="text" placeholder="Search todo by title..." [(ngModel)]="search">
  </div>

  <ul class="list" *ngIf="todosService.todos.length; else noTodos">
    <li *ngFor="let todo of todosService.todos | todosFilter:search; let i = 'index'">
      <p class="todo" [class.done]="todo.completed">
        <mat-checkbox [checked]="todo.completed" color="primary" (change)="onChange(todo.id)"></mat-checkbox>
        <span class="title">
          <strong>{{ i +1 }}</strong>
          {{ todo.title }}
        </span>
      </p>
      <small class="date">{{ todo.date |date: 'medium'}}</small>
      <button mat-icon-button color="warn" aria-label="delete icon" (click)="removeTodo(todo.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </li>
  </ul>

  <ng-template #noTodos>
    <p class="no-todos">No todos now!</p>
  </ng-template>

  <app-todo-form></app-todo-form>

</div>

<ng-template #elseBlock>
  <mat-spinner color="primary"></mat-spinner>
</ng-template>
